@model CA2_NiallHolmes_S00130770.Models.Movie
<div class="container">
@{
    ViewBag.Title = "Delete";
}
<div class="container">
    <div class="panel panel-danger">
        <div class="panel-heading">
            <div class="lead"><strong>@Model.MovieName</strong></div>
        </div>
    
    <div class="panel-body">

       
@using (Html.BeginForm()) {
            
    <div class="form-group col-xs-4">
        <p style="font:larger">Are you sure you want to delete this movie?</p>
        <input type="submit" value="Delete" class="btn btn-sm btn-danger"/> 
        @Html.ActionLink("Back to List", "Index", null, new {@class = "btn btn-sm btn-primary"})
    </div>
}
        </div>
    </div>
</div>
    @section scripts
{
    <script>

        $(function () { // ready event
            toastr.error('Here you can delete a movie');
        });

    </script>
}